In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [2]:
# Simple dataset of three four features 
# First of all load csv dataset file into dataframe
dataset = pd.read_csv('hiring.csv')

#print the dataset
dataset

   experience  test_score  interview  salary
0         NaN         8.0          9   50000
1         NaN         8.0          6   45000
2        five         6.0          7   60000
3         two        10.0         10   65000
4       seven         9.0          6   70000
5       three         7.0         10   62000
6      eleven         NaN          7   72000
7       seven         7.0          8   80000
8         two        10.0         10   66000
9       three         9.0          6   70000
10      three         7.0         10   62000
11        ten         NaN          7   72000
12     eleven         7.0          8   80000
13      three         8.0          9   66000
14      seven         9.0          6   70000
15      three         7.0         10   62000
16     eleven         NaN          7   72000
17      seven         7.0          8   80000
18      three        10.0         10   66000
19      three         9.0          8   70000
20      three         7.0         10   62000
21        ten         NaN          7   72000
22     eleven         7.0          8   80000

In [3]:
# feature engineering 
# to replace each Null cell
dataset['experience'].fillna(0, inplace=True)

dataset['test_score'].fillna(dataset['test_score'].mean(), inplace=True)

# now specify the Input features for training 
X = dataset.iloc[:,0:3]

X

   experience  test_score  interview
0           0         8.0          9
1           0         8.0          6
2        five         6.0          7
3         two        10.0         10
4       seven         9.0          6
5       three         7.0         10
6      eleven         8.0          7
7       seven         7.0          8
8         two        10.0         10
9       three         9.0          6
10      three         7.0         10
11        ten         8.0          7
12     eleven         7.0          8
13      three         8.0          9
14      seven         9.0          6
15      three         7.0         10
16     eleven         8.0          7
17      seven         7.0          8
18      three        10.0         10
19      three         9.0          8
20      three         7.0         10
21        ten         8.0          7
22     eleven         7.0          8

In [4]:
# Now some features are string/text, we need to convert them to number
#Converting words to integer values
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

X['experience'] = X['experience'].apply(lambda x : convert_to_int(x))

y = dataset.iloc[:,-1]
y

0     50000
1     45000
2     60000
3     65000
4     70000
5     62000
6     72000
7     80000
8     66000
9     70000
10    62000
11    72000
12    80000
13    66000
14    70000
15    62000
16    72000
17    80000
18    66000
19    70000
20    62000
21    72000
22    80000
Name: salary, dtype: int64

In [5]:
#Splitting Training and Test Set
#Since we have a very small dataset, we will train our model with all availabe data.


# train your model using linear Regression
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

#Fitting model with trainig data
regressor.fit(X,y)

LinearRegression()

In [8]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print("Test one prediction")
# using predict() function to test your model 
# your code here

Test one prediction

In [9]:
model.predict([[3,8.000000,5]])

C:\Users\khale\anaconda3\envs\my_first_deployement\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([57979.66717776])